*{
    margin: 0px;
    padding: 0px;
}
/* common style is used here */
body{
    font-family: 'Lato', sans-serif;
}
/* header style is used here */
header{
    display: flex;
    width: 1403px;
    height: 100vh;
    background-color:rgba(229, 84, 115, 0.10);
    align-items: center;
    gap: 70px;
}
.section-text-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    padding-left: 140px;
}
.section-text-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    padding-left: 140px;
}
.section-photo{
    margin-top: 10px;
}
.section-img{
    width: 490px;
}
.section-feat-flow{
    text-align: center;
    margin-top: 100px;
}
.section-feat-flow-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.section-feat-flow-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}